<div ng-controller="StudentMobileAppSyllabusController">
    <div class="pages-links">
       
    </div>
    <div class="clearfix"></div>
    <div class="inner-body">
        <div class="container">
            <div class="col-sm-12">
                <div class="inner-heading">
                    <h3>View Syllabus </h3>
                </div>
            </div>
            <div class="col-md-12">
                <ul>
                    <li style="margin-bottom: 20px;"><a class="cls_bold" href="https://exams.sbtet.telangana.gov.in/Downloads/Syllabus/C-18 CURRICULUM.zip" title="Click to Download" download><i class="fa fa-angle-double-right" aria-hidden="true"></i> C18 Curriculum</a></li>
                    <li style="margin-bottom: 20px;"><a class="cls_bold" href="https://exams.sbtet.telangana.gov.in/Downloads/Syllabus/C16 Curriculum.zip" title="Click to Download" download><i class="fa fa-angle-double-right" aria-hidden="true"></i> C16 Curriculum</a></li>
                    <li style="margin-bottom: 20px;"><a class="cls_bold" href="https://exams.sbtet.telangana.gov.in/Downloads/Syllabus/C14 Curriculum.zip" title="Click to Download" download><i class="fa fa-angle-double-right" aria-hidden="true"></i> C14 Curriculum</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>