<style>
        .sm-spacer{
            height: 50px;
        }
        </style>
       <div ng-controller="NrDownloadController">
    <section class="content">
        <div class="container">
            <div class="col-md-12">
                <button class="btn bck_btn"><a href="#!/Dashboard/PreExamination" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
            </div>
            <div class="sm-spacer"></div>
            <div class="text-center">
                <img class="gif_css" src="../../../contents/img/under_construction.gif">
            </div>
        </div>
    </section>
</div>