<style>
    .sm-spacer {
        height: 50px;
    }
</style>
<div ng-controller="PreExamReportsController">
    <section class="content">
        <div class="container">
            <div class="col-md-12" ng-if="userTypeId == 2 || userTypeId == 3">
                <button class="btn bck_btn"><a href="#!/Dashboard/PreExamination" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
            </div>
            <div class="col-md-12" ng-if="userTypeId == 1">
                <button class="btn bck_btn"><a href="#!/Dashboard/PreExamination/AdminPreExamReports" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
            </div>
            <div class="row" ng-if="isShowTags">
                <div class="col-md-12" style="padding:0px!important">
                    <div class="cl-details">
                        <h2>Branch Wise Fee Payment Reports</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row base-row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-weight-bold">
                                    Academic Year :
                                </label>
                                <div id='year'>
                                    <input type='text' class="form-control" ng-model="years.AcademicYear" disabled autocomplete="off" name="Fineamount" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" >
                            <div class="form-group" ng-if="userTypeId == 2 || userTypeId == 3">
                                <label class="font-weight-bold"> Exam Type:</label>
                                <div class="">
                                    <select class="form-control" ng-model="Student.id" name="StudentType" ng-change="SetStartDate()" required>
                                        <option value="" selected>Select Exam Type</option>
                                        <option ng-repeat="Student in StudentType" value="{{Student.id}}">
                                            {{Student.type}}
                                        </option>
                                        <!--ng-options="Student.type for Student in StudentType">-->
                                    </select>

                                </div>

                            </div>
                            <div class="form-group" ng-if="userTypeId == 1">
                                <label class="font-weight-bold"> Exam Type:</label>
                                <div class="">
                                    <input class="form-control"  ng-disabled="true" ng-model="ExamType" />
                                    <!--<select class="form-control" ng-model="Student.id" name="StudentType" ng-change="SetStartDate()" required>
                                        <option value="" selected>Select Exam Type</option>
                                        <option ng-repeat="Student in StudentType" value="{{Student.id}}">
                                            {{Student.type}}
                                        </option>
                                      
                                    </select>-->

                                </div>

                            </div>

                        </div>
                        <div class="col-md-4 hidden">
                            <div class="form-group">
                                <label class="font-weight-bold">Semester:</label>
                                <div class="">
                                    <select class="form-control" ng-init="LoadSemisters()" name="semister" required ng-model="current_schemeid" ng-change="LoadExamType(current_schemeid)">
                                        <option value="" selected>Select Semester</option>
                                        <option ng-repeat="sem in ActiveSemesters" value="{{sem.semid}}">
                                            {{sem.semester}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="userTypeId == 2 || userTypeId == 3">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-detail" ng-click="showPaymentDetails()">
                            Show Results
                        </button>
                    </div>
                </div>
                <div class="sm-spacer"></div>
                <div class="col-md-12" ng-if="isShowResults && isPrincipalTable">
                    <div class="pull-right">
                        <a class="ExportToExcel1 pointer"
                           id="ExportToExcel1" ng-click="DownloadtoExcel('#principalReport')">
                            <i class="fa fa-file-excel-o"></i>
                            Export to Excel
                        </a>
                    </div>
                </div>
                <div class="col-md-12" ng-if="isShowResults && isHodTable">
                    <div class="pull-right">
                        <a class="ExportToExcel1 pointer"
                           id="ExportToExcel1" ng-click="DownloadExcel('#hodReport')">
                            <i class="fa fa-file-excel-o"></i>
                            Export to Excel
                        </a>
                    </div>
                </div>
                <div class="col-md-12" ng-if="isShowResults && isAdminTable">
                    <div class="pull-right">
                        <a class="ExportToExcel1 pointer"
                           id="ExportToExcel1" ng-click="DownloadedExcel('#AdminReport')">
                            <i class="fa fa-file-excel-o"></i>
                            Export to Excel
                        </a>
                    </div>
                </div>
                <div class="row" ng-if="isShowResults">
                    <!-- this is the table for Principal-->
                    <div id="AdminReport" class="table-responsive table-custom-tables-tb col-md-12" ng-if="isAdminTable">
                        <table class="table table-bordered  table-striped table-rounded">
                            <thead>
                                <tr class="cb-1">
                                    <!--<th style="width: 1%;"><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>-->
                                    <th style="width: 2%;">S.No</th>
                                    <th ng-click="sort('Scheme')">College Code</th>
                                    <th class="" ng-click="sort('Semester')">Branch Code</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('Branch')">Semester</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">On Roll</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Fee Eligible</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Fee Paid</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Fee Unpaid</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Condonation</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Detained</th>
                                    <!--<th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Need Approved</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Approved</th>-->
                                </tr>
                            </thead>

                            <tbody>
                                <tr style="background-color:#fff!important;" ng-repeat="x in ExamPayment">
                                    <!--<td style="text-align: center" class="checkboxs"><input type="checkbox" ng-model="data.isChecked" ng-class="{selected: data.isChecked}" ng-change="selectEntity(data)"></td>-->
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-center">{{x.CollegeCode}}</td>
                                    <td class="text-center">{{x.BranchCode}}</td>
                                    <td class="text-center">{{x.Semester}}</td>
                                    <td class="text-center"><a ng-click="GetOnrole(x)"> {{x.Onroll}}</a></td>
                                    <td class="text-center"><a ng-click="GetFeeEligibleList(x)">{{x.FeeEligible}}</a></td>
                                    <td class="text-center"><a ng-click="GetFeePayedList(x)">{{x.FeePayed}}</a></td>
                                    <td class="text-center"><a ng-click="GetFeeNotPayedList(x)">{{x.FeeNotPayed}}</a></td>
                                    <td class="text-center"><a ng-click="CondonationList(x)"> {{x.Condonation}} </a> </td>
                                    <td class="text-center"><a ng-click="DetainedList(x)">{{x.Detained}}</a></td>
                                     <!--<td class="text-center">{{x.NeedApproved}}</td>
                                    <td class="text-center">{{x.Approved}}</td>-->
                                </tr>
                                <tr style="background-color:#fff!important;">
                                    <!--<td style="text-align: center" class="checkboxs"><input type="checkbox" ng-model="data.isChecked" ng-class="{selected: data.isChecked}" ng-change="selectEntity(data)"></td>-->
                                    <td class="text-center" colspan="4">Total</td>
                                    <td class="text-center">{{Onroll}}</td>
                                    <td class="text-center">{{FeeEligible}}</td>
                                    <td class="text-center">{{FeePayed}}</td>
                                    <td class="text-center">{{FeeNotPayed}}</td>
                                    <td class="text-center">{{Condonation}}</td>
                                    <td class="text-center">{{Detained}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="hodReport" class="table-responsive table-custom-tables-tb col-md-12" ng-if="isPrincipalTable">
                        <table class="table table-bordered  table-striped table-rounded">
                            <thead>
                                <tr class="cb-1">
                                    <!--<th style="width: 1%;"><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>-->
                                    <th style="width: 2%;">S.No</th>
                                    <th ng-click="sort('Scheme')">College Code</th>
                                    <th class="" ng-click="sort('Semester')">Branch Code</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('Branch')">Semester</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">On Roll</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Fee Eligible</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Fee Paid</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Fee Unpaid</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Condonation</th>

                                    <!--<th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Need Approved</th>
                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Approved</th>-->
                                </tr>
                            </thead>

                            <tbody>
                                <tr style="background-color:#fff!important;" ng-repeat="x in ExamPayment">
                                    <!--<td style="text-align: center" class="checkboxs"><input type="checkbox" ng-model="data.isChecked" ng-class="{selected: data.isChecked}" ng-change="selectEntity(data)"></td>-->
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-center">{{x.CollegeCode}}</td>
                                    <td class="text-center">{{x.BranchCode}}</td>
                                    <td class="text-center">{{x.Semester}}</td>
                                    <td class="text-center"><a ng-click="GetOnrole(x)"> {{x.Onroll}} </a></td>
                                    <td class="text-center"><a ng-click="GetFeeEligibleList(x)">{{x.FeeEligible}}</a></td>
                                    <td class="text-center"><a ng-click="GetFeePayedList(x)">{{x.FeePayed}}</a></td>
                                    <td class="text-center"><a ng-click="GetFeeNotPayedList(x)">{{x.FeeNotPayed}}</a></td>
                                    <td class="text-center"><a ng-click="CondonationList(x)">{{x.Condonation}}</a></td>

                                </tr>
                                <tr style="background-color:#fff!important;">

                                    <td class="text-center" colspan="4">Total</td>
                                    <td class="text-center">{{Onroll}}</td>
                                    <td class="text-center">{{FeeEligible}}</td>
                                    <td class="text-center">{{FeePayed}}</td>
                                    <td class="text-center">{{FeeNotPayed}}</td>
                                    <td class="text-center">{{Condonation}}</td>


                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- this is the table for hod-->
                    <div id="hodReport" class="table-responsive table-custom-tables-tb col-md-12" ng-if="isHodTable">
                        <table class="table table-bordered  table-striped table-rounded">
                            <thead>
                                <tr class="cb-1">
                                    <!--<th style="width: 1%;"><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>-->
                                    <th style="width: 2%;">S.No</th>
                                    <th ng-click="sort('Scheme')">College Code</th>
                                    <th class="" ng-click="sort('Semester')">Branch Code</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('Branch')">Semester</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">On Roll</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Fee Eligible</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Fee Paid</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Fee Unpaid</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Condonation</th>
                                 
                                    <!--<th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Need Approved</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Approved</th>-->
                                </tr>
                            </thead>

                            <tbody>
                                <tr style="background-color:#fff!important;" ng-repeat="x in ExamPayment">
                                    <!--<td style="text-align: center" class="checkboxs"><input type="checkbox" ng-model="data.isChecked" ng-class="{selected: data.isChecked}" ng-change="selectEntity(data)"></td>-->
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-center">{{x.CollegeCode}}</td>
                                    <td class="text-center">{{x.BranchCode}}</td>
                                    <td class="text-center">{{x.Semester}}</td>
                                    <td class="text-center"><a ng-click="GetOnrole(x)"> {{x.Onroll}} </a></td>
                                    <td class="text-center"><a ng-click="GetFeeEligibleList(x)">{{x.FeeEligible}}</a></td>
                                    <td class="text-center"><a ng-click="GetFeePayedList(x)">{{x.FeePayed}}</a></td>
                                    <td class="text-center"><a ng-click="GetFeeNotPayedList(x)">{{x.FeeNotPayed}}</a></td>
                                    <td class="text-center"><a ng-click="CondonationList(x)">{{x.Condonation}}</a></td>
                                 
                                </tr>
                                <tr style="background-color:#fff!important;">

                                    <td class="text-center" colspan="4">Total</td>
                                    <td class="text-center">{{Onroll}}</td>
                                    <td class="text-center">{{FeeEligible}}</td>
                                    <td class="text-center">{{FeePayed}}</td>
                                    <td class="text-center">{{FeeNotPayed}}</td>
                                    <td class="text-center">{{Condonation}}</td>
                                   

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="sm-spacer"></div>
                </div>
            </div>
            <div class="sm-spacer"></div>
            <!--<div class="text-center" ng-if="access1">
                <div class="container">
                    <div class="col-md-12" style="padding:0px!important">
                        <div class="cl-details">
                            <h2>Student Reports</h2>
                        </div>
                    </div>

                    <div class="sm-spacer"></div>
                    <div class="row" ng-if="access1">
                       <!-- <img class="gif_css" src="../../../contents/img/under_construction.gif">-->
            <!-- this is the table for Principal--
                        <div id="attendanceReport" class="table-responsive table-custom-tables-tb col-md-12" ng-if="reports">
                            <table class="table table-bordered  table-striped table-rounded">
                                <thead>
                                    <tr class="cb-1">
                                        <!--<th style="width: 1%;"><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>--
                                        <th style="width: 2%;">S.No</th>
                                        <th ng-click="sort('Scheme')">College Code</th>
                                        <th class="" ng-click="sort('Semester')">College Name</th>
                                        <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">On Roll</th>
                                        <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Fee Eligible</th>
                                        <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Fee Payed</th>
                                        <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Fee NotPayed</th>
                                        <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Condonation</th>
                                        <!--<th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Need Approved</th>
                                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Approved</th>--
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr style="background-color:#fff!important;" ng-repeat="x in getReports">
                                        <!--<td style="text-align: center" class="checkboxs"><input type="checkbox" ng-model="data.isChecked" ng-class="{selected: data.isChecked}" ng-change="selectEntity(data)"></td>--
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="text-center">{{x.CollegeCode}}</td>
                                        <td class="text-center">{{x.CollegeName}}</td>
                                        <td class="text-center"><a ng-click="openOnroll(x)"> {{x.OnRoll}}</a></td>
                                        <td class="text-center"><a ng-click="GetFeeEligibleList(x)">{{x.FeeEligible}}</a></td>
                                        <td class="text-center"><a ng-click="GetFeePayedList(x)">{{x.FeePayed}}</a></td>
                                        <td class="text-center"><a ng-click="GetFeeNotPayedList(x)">{{x.FeeNotPayed}}</a></td>
                                        <td class="text-center"><a ng-click="CondonationList(x)"> {{x.Condonation}} </a> </td>
                                        <!--<td class="text-center">{{x.NeedApproved}}</td>
                                    <td class="text-center">{{x.Approved}}</td>--
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="width:100%;text-align:center;">
                            <img src="../../contents/img/loading.gif" ng-show="loading" width="100" />
                        </div>
                        <!-- this is the table for hod--




                    </div>

                    <div class="col-md-12">
                        <div ng-if="Noreports" class="no-results">
                            <img src="../../contents/img/Folder-Icon.svg" />
                            <h2>No Result Found</h2>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

        <div class="spacer"></div>
    </section>
</div>
